# Environment and operating system
.env
.DS_Store

# JavaScript
node_modules/

# Python
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# Django
*.sqlite
*.sqlite3
staticfiles/
